button:focus {
  outline: none !important;
  box-shadow: none !important;
}

@font-face {
	font-family: 'Ownglyph_ParkDaHyun';
	src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');

@font-face {
	font-family: 'EF_jejudoldam';
	src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*

body {
  font-family: 'Ownglyph_ParkDaHyun', sans-serif;
  font-size: 20px;
}
*/


body {
  font-family: 'MaplestoryOTFBold', sans-serif;
  font-size: 20px;
}



/*
body {
	font-family: 'Nanum Gothic', sans-serif;
}
*/

/*
body {
	font-family: 'EF_jejudoldam', sans-serif;

}
*/