body {
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	font-family: 'Arial';
}

.form-wrapper {
	width: 800px;
	height: 80vh;
	max-height: 90vh;
	/* ✅ 높이 제한 */
	background: white;
	border-radius: 70px;
	overflow: hidden;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.form-slider {
	display: flex;
	width: 200%;
	height: 100%;
	transition: transform 0.5s ease;
}

/* sign-in form	               -----------------------------*/


.sign-in>.left-panel {
	padding: 20px 30px;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.sign-in>.left-panel h1 {
	font-size: 28px;
}


.sign-in-button {
	margin-top: 10px;
	background-color: #f5d76e;
	border: none;
	padding: 10px 20px;
	border-radius: 10px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

.sign-in-button:hover {
	background-color: #f7e08c;
}

.sign-in>.right-panel {
	padding: 40px 30px;
	background: linear-gradient(268deg, #c0d9c9, #f2eb99);
	border-top-left-radius: 3rem;
	border-bottom-left-radius: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #333;
	text-align: center;
}

.sign-up-button {
	background-color: #a8cbb5;
	border: none;
	padding: 10px 20px;
	border-radius: 10px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

.sign-up-button:hover {
	background-color: #b9e0c8;
}

/* .sign-up from                  -----------------------------------*/

.form-panel-slide {
	display: flex;
	width: 200%;
	height: 100%;
	transition: transform 0.5s ease;
}


.sign-up {
	width: 50%;
}

.sign-up>.left-panel {
	padding: 40px 30px;
	background: linear-gradient(268deg, #f0eb94, #bdd1c6);
	border-top-right-radius: 3rem;
	border-bottom-right-radius: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #333;
	text-align: center;
}

.sign-up>.left-panel button {
	background-color: #f5d76e;
	border: none;
	padding: 10px 20px;
	border-radius: 10px;
	cursor: pointer;
	font-weight: bold;
}

.form-panel {
	width: 100%;
	padding: 40px 30px;
	background-color: white;
	justify-content: center;
	align-items: center;
	display: flex;
}

.form-step {
	width: 100%;
	height: 100%;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}



input,
select {
	width: 80%;
	border: none;
	border-bottom: 2px solid #aaa;
	background: transparent;
	padding: 8px;
	outline: none;
}

button.next-button,
button.prev-button,
button.submit-button {
	background-color: #a8cbb5;
	border: none;
	padding: 10px;
	border-radius: 10px;
	margin-top: 10px;
	cursor: pointer;
	font-weight: bold;
}

.logo-img {
	width: 80px;
	margin-left: auto;
	margin-right: auto;
}

.timeline {
	bottom: 20px;
}