#myChart {
	margin-top: 10px;
}

.main_page>section {
	width: 100%;
}

.pet_img {
	margin-left: auto;
	margin-top: 50px;
}

.createdAt {
	border-top: 2px solid lemonchiffon;
}

.tD_ani{
	min-height: 200px;
}

.ani-card {
	max-height: 230px;
}