<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.RSW.repository.PetAnalysisRepository">

    <select id="getAnalysisByPetId" parameterType="int" resultType="com.example.RSW.vo.PetAnalysis">
        SELECT *
        FROM pet_analysis
        WHERE petId = #{petId}
        ORDER BY analyzedAt DESC
    </select>

</mapper>
