<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" th:href="@{/resource/css/global.css}">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdn.tailwindcss.com"></script>
	<title>크루 등록</title>

</head>

<body class="bg-gradient-to-b from-[#e4f0b9] to-[#fcdca9]">
	<div class="flex h-screen">
		<!-- Sidebar -->
		<div th:replace="common :: siteHeader"></div>

		<!-- Main content -->
		<main class="main_page min-h-screen flex-1 p-3 flex contect-around">
	
		</main>
</body>

</html>