<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdn.tailwindcss.com"></script>
	<link rel="stylesheet" th:href="@{/resource/css/main.css}">

	
	<title>페이지 기본 틀</title>
</head>

<body class="bg-gradient-to-b from-[#e4f0b9] to-[#fcdca9] font-sans">
	<script src="https://cdn.tailwindcss.com"></script>

	<div class="section section-top mx-auto">
	  <img class="logo mx-auto" src="https://imgur.com/rcOcaL6.png" alt="d">

	  <div class="bg-logo">
	    <img class="b-logo mx-auto" src="https://imgur.com/qYhSSXR.png" alt="aniwell_큰_로고">
	    <div class="char">
	      <img class="mx-auto" src="https://imgur.com/OJI4yzC.png" alt="dig_cat">
	    </div>
	    <div class="icon">
	      <div class="in-icon">
	        <img src="https://imgur.com/vTaaRnh.png" alt="d">
	      </div>
	      <div class="up-icon">
	        <img src="https://imgur.com/2ZJPrGR.png" alt="d">
	      </div>
	    </div>
	  </div>
	</div>

	<div class="section section-middle mx-auto">메인 세션2
	  <div class="wave"></div>
	  <div class="container">
	    <div class="top-section">1</div>
	    <div class="bottom-section">
	      <div class="box box_2">2</div>
	      <div class="box box_3">3</div>
	      <div class="box box_4">4</div>
	    </div>
	  </div>
	</div>

	<div class="section section-bottom mx-auto">메인 세션3</div>

</body>

</html>