<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdn.tailwindcss.com"></script>
	<link rel="stylesheet" th:href="@{/resource/css/common.css}">
	<script th:src="@{/resource/js/common.js}"></script>

	<title>페이지 기본 틀</title>
</head>

<body class="bg-gradient-to-b from-[#e4f0b9] to-[#fcdca9] font-sans">
	<div th:fragment="siteHeader" class="flex h-screen">
		<!-- Sidebar -->
		<aside class="w-20 flex flex-col items-center p-4">
			<img src="https://i.imgur.com/rcOcaL6.png" alt="Logo" class="w-12 mb-6">

			<!-- 프로필 원형 -->
			<div class="w-14 h-14 bg-[#2e576d] rounded-full shrink-0 overflow-hidden"></div>

			<!-- 메뉴 아이콘 -->
			<div class="flex flex-col gap-10 justify-center h-4/5">

				<img src="https://res.cloudinary.com/decrm0hhf/image/upload/h_90,c_fill,q_auto,f_auto/v1752334976/cat_hand_w9zkku.png"
					alt="고양이 발" class="cat-paw absolute" id="cat-paw" />
				<div class="menu-item relative group pet_page" data-page="pet">
					<button class="hamburger" id="hamburger-btn" aria-label="메뉴 열기">
						<span class="bar"></span>
						<span class="bar"></span>
						<span class="bar"></span>
					</button>
					<span class="tooltip group-hover:opacity-100">pet page</span>
				</div>

				<div class="menu-item relative group my_page" data-page="my">
					<button class="hamburger" id="hamburger-btn" aria-label="메뉴 열기">
						<span class="bar"></span>
						<span class="bar"></span>
						<span class="bar"></span>
					</button>
					<span class="tooltip group-hover:opacity-100">my page</span>
				</div>

				<div class="menu-item relative group crew_page" data-page="crew-page">
					<button class="hamburger" id="hamburger-btn" aria-label="메뉴 열기">
						<span class="bar"></span>
						<span class="bar"></span>
						<span class="bar"></span>
					</button>
					<span class="tooltip group-hover:opacity-100">crew page</span>
				</div>
			</div>

			<!-- 추가 여백 -->

			<div class="mt-auto">
				<img src="https://i.imgur.com/OJI4yzC.png" alt="paw" class="w-8">
			</div>
		</aside>
		<script th:src="@{/resource/js/common.js}"></script>
	</div>

</body>

</html>